<div class="footer">
  <div class="footer-links">
    <i class="fab fa-facebook footer-link" href="http://www.sweely.eu/" target="_blank"></i>
    <a class="footer-link" href="http://www.sweely.eu/" target="_blank">Sweely</a>
    <a class="footer-link" href="http://www.acs-pack.fr/" target="_blank">ACS Pack</a>
  </div>
  <div class="footer-copyright">
    <i class="fab fa-facebook"></i>
    <a href="#">Mentions légales</i></a>
  </div>
</div>
