/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";
@import "font-awesome";

body {
  background-color: red;
}

nav {
  padding: 0 200px !important;
}

.navbar-brand {
  height: 150px;
}

.nav-link {
    font-size: 20px;
  }

.nav-link:hover {
  opacity: 1;
}

.nav-link::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: #031D44;
}

.nav-link-fade-up::before {
  width: 100%;
  bottom: 5px;
  opacity: 0;
}

.nav-link-fade-up:hover::before {
  bottom: 10px;
  opacity: 1;
}

.contact-container {
  display: flex;
}

.contact-img {
  text-align: center;
}

.logo2 {
  height: 200px;
}

.contact-title {
  margin: 20px 0 30px 0;
}

.footer {
  background: #33313b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  color: white;
  opacity: 0.50;
}
.footer .fa-heart {
  color: #D23333;
}

.footer-copyright a {
  color: white;
  text-decoration: none;
}

.footer-copyright a:hover {
  color: white;
  opacity: 0.50;
}
